h1{
    font-family: lobster;
}
.jumbotron{
    height: 100vh;
    background-position: center;
    margin-bottom:0px;
}

.jumbo1{
    background-image: url(https://images.pexels.com/photos/106606/pexels-photo-106606.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
.jumbo2{
    background-image: url(https://images.pexels.com/photos/132037/pexels-photo-132037.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}
.jumbo3{
    background-image: url(https://images.pexels.com/photos/1476880/pexels-photo-1476880.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}
